html {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    background: #ECF0F1;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #ECF0F1;
    height: 100%;
    display: flex;
}
h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}

body div {
    padding: 1vw;
}

.hidden{
  display: none;
}

.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr;
  grid-template-rows: 0.1fr 1.5fr;
  grid-template-areas: "header header header" "menu list full";
  grid-column-gap: 1.5%;
  padding: 0;
}

#application-heading {
    grid-area: header;
    color: #ECF0F1;
    border-style: solid;
    border-width: 0 0 0.25vh 0;
    border-color: #ECF0F1;
    background-color: #103e5c;

}


#side-menu{
  grid-area: menu;
  width: 33%
  float: left;
  height: 100%;

  padding: 20px;
  background: #3498DB;
  box-sizing: border-box;
  border-radius: 0px 15px 0px 0px;

}

#note-list{
  grid-area: list;
  float: left;
  height: 100%;
  padding: 20px;
  background: #3498DB;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  border-radius: 15px 15px 0px 0px;

  /* overflow: auto; */
}

#note-full-window{
  grid-area: full;
  position: relative;
  float: left;
  height:100%;
  padding: 20px;
  background: #3498DB;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 15px 0px 0px 0px;

  /* display: inline-block; */
}

#source-list{
  grid-area: list;
  float: left;
  height: 100%;
  padding: 20px;
  background: #3498DB;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  border-radius: 15px 15px 0px 0px;

}

#theme-list{
  grid-area: list;
  float: left;
  height: 100%;
  padding: 20px;
  background: #3498DB;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  border-radius: 15px 15px 0px 0px;

}

.grid-container-aboutUs{
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  grid-template-rows: 0.2fr 1.4fr;
  grid-template-areas: "header header" "menu aboutUs";
  grid-column-gap: 50px;
  padding: 0;
  background: #ECF0F1;
  color: #414242;
  text-align: justify;
}
.aboutUs{
  grid-area: aboutUs;
}

.menu-points:link, .menu-points:visited{
  background-color: #103e5c;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 2%;
  border-radius: 15px;

}

.menu-points:hover, .menu-points:active{
  background-color: #081f2e;
}


#button-new-note{
  background-color: #45BF55; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;

}
#button-new-note:hover, button-new-note:active{
  background-color: #3b9e40;
}

.note-minimized{
  color: black;
  position: relative;
  background-color: #ECF0F1;
  margin-bottom: 2%;
  overflow: auto;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.note-minimized:hover{
  /* border: 5px solid yellow; */
  background-color: #fff;
}
.title-minimized{
  position:relative;
  padding: 0 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
}
.description-minimized{
  position:relative;
  padding: 0 0 0 0;
  max-height: 190px;
  height:auto;
  overflow-wrap: break-word;
  border: 1px solid #2C3E50;
  border-radius: 5px 5px 5px 5px;
}
/* .description-minimized > *{

  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  display: block;
  overflow: hidden;
} */
.theme-minimized-title{
  position:relative;
  padding: 0 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
}
.color-box-minimized{
  position: absolute;
  top: 10px;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.date-minimized{
  position: relative;
  bottom: 0px;
  padding: 0 0 0 0;
  color: #555;
  font-size: 12px;
}

#note-editor{
  color: #414242;
  position: relative;
  background-color: #EDF1F2;
  margin-bottom: 2%;
  overflow: auto;
  border-radius: 5px 5px 5px 5px;
}


.note-full{
  position: relative;
  background-color: #eee;
  /* height: 90%; */
  /* overflow: auto; */
  color: black;
  border-radius: 5px 5px 5px 5px;
}
.title-full{
  position:relative;
  padding: 0 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 32px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
}
.description-full{
  overflow-wrap: break-word;
  border: 2px solid rgba(0, 0, 0, .8);
  position:relative;
  padding: 0 0 0 0;
}
.source-full{
  position:relative;
  padding: 0 0 0 0;
}
.source-full > a{
  cursor: pointer;
  text-decoration: none;
  color: #2C3E50;
}
.theme-full{
  position:relative;
  padding: 0 0 0 0;
}
.theme-full > a{
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #3498DB;
}
.color-box-full{
  position:relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
}
.last-updated-full{
  position:relative;
  padding: 0 0 0 0;
}
.creation-full{
  position:relative;
  padding: 0 0 0 0;
}
.close-button{
  border: 0px solid rgba(0, 0, 0, .2);
  /* width: 20px;
  height: 20px; */
  cursor: pointer;
  font-size: 30px;
  padding: 0 0 0 0;
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 0.3;
}
.close-button:hover {
  opacity: 1;
  color: red;
}
.edit-button{
  color: #ECF0F1;
  cursor: pointer;
  display: inline-block;
  position:relative;
  height: 100%;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  text-align: center;
  background-color: #E74C3C;
  margin-bottom: 2%;
  cursor: pointer;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.edit-button:hover, .edit-button:active{
  background-color: #d63b2b;
}


.color-box{
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}
.nothing{
  background: #fff;
  color: black;
}
.blue {
  background: #13b4ff;
  color: white;
}
.purple {
  background: #ab3fdd;
  color: white;
}
.wine {
  background: #ae163e;
  color: white;
}
.red {
  background: #FF0000;
  color: white;
}
.green {
  background: #008000;
  color: white;
}
.pink {
  background: #FF1493;
  color: white;
}
.brown {
  background: #8B4513;
  color: white;
}
.white {
  background: #fff;
  color: black;
}
.black {
  background: #000;
  color: white;
}
.highlighted{
  border: 5px solid #3A4451;
}

#confirmation-deletion{
  border: 3px solid rgba(255, 0, 0, 1);
  background-color: #FFBBC3;
}

.source-entry{
  color: black;
  position: relative;
  background-color: #eee;
  margin-bottom: 2%;
  overflow: auto;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.source-entry:hover{
  background-color: #fff;
  cursor: pointer;
}
.source-minimized{
  position:relative;
  padding: 0 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #2C3E50;
}
.numberOfNotes-minimized{
  position: relative;
  bottom: 0px;
  padding: 0 0 0 0;
  color: #555;
  font-size: 12px;
}

.theme-entry{
  color: black;
  position: relative;
  background-color: #eee;
  margin-bottom: 2%;
  overflow: auto;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.theme-entry:hover{
  background-color: #fff;
  cursor: pointer;
}
.theme-minimized{
  position:relative;
  padding: 0 0 0 0;
  color: #3498DB;
}
button{
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
}

#description-input{
  background-color: white;
}

#searchInput{
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 98%;
  font-size: 16px;
  padding: 12px 0px 12px 2%;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

th{
  text-align: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: normal;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-bottom: 2%;
}

.search-hidden{
  display: none;
}
.filter-hidden{
  display: none;
}
#description-input{
  margin-bottom: 0.2vw;
}
#title-input, #source-input, #theme-input{
  width: 98%;
  font-size: 16px;
  padding: 12px 0px 12px 2%;
  border: 1px solid #ddd;
  margin-top: 0;
  margin-bottom: 0.2vw;
  margin-left: 0;
  margin-right: 0;

}

.instruments{
  padding: 0;
}
.notes-container{
  padding: 0;
  height: 10px;
  overflow: auto;
  flex-grow: 1;
  border-radius: 5px 5px 5px 5px;

}

#aboutus_page{
  overflow: auto;
}
.member_image{
  width: 20vw;
}

#button-new-note-save{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#button-new-note-save:hover, #button-new-note-save:active{
  background-color: #3b9e40;
}
#button-new-note-cancel{
  background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#button-new-note-cancel:hover, #button-new-note-cancel:active{
  background-color: #444444;
}
#button-new-note-delete{
  background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#button-new-note-delete:hover, #button-new-note-delete:active{
  background-color: #e33225;
}
#button-delete-confirm{
  background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}
#button-delete-confirm:hover, #button-delete-confirm:active{
  background-color: #e33225;
}
#button-delete-cancel{
  background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#button-delete-cancel:hover, #button-delete-cancel:active{
  background-color: #444444;
}

a{
  color: #414242;
  text-decoration: none;
  text-underline: none;
}
.color-picker{
  padding: 0;
  display: flex;
}
.note-editor-buttons-container{
  padding: 0;
}

.notes-bottom{
  text-align: center;
  padding-bottom: 0;
}
.number-of-notes{
  padding:0;
}
.number-of-themes{
  padding:0;
}
.number-of-sources{
  padding:0;
}
.delete-all-notes{
  padding:0;
  color: #eee;
}
.delete-all-notes:hover, .delete-all-notes:active{
  cursor:pointer;
  color: red;
}
.delete-all-notes-confirmation{
  padding: 0;
  padding-bottom: 5px;
  border: 3px solid rgba(255, 0, 0, 1);
  background-color: #FFBBC3;
  color: black;
}
#delete-all-notes-confirmation-confirm{
  font-family: 'Quicksand', sans-serif;
}
#delete-all-notes-confirmation-cancel{
  font-family: 'Quicksand', sans-serif;
}
#delete-all-notes-confirmation-confirm:hover{
  background-color: #e33225;
}

#institution_name{
  color: #747575;
}
#institution_title, #team_title, #product_title{
  font-size: 24px;
}
#product{
  /* width: auto; */
}
#product_presentation, #institution_presentation{
  margin-right: 5vw;

}
